<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for being a member of Rotten Mangoes, <%= @user.firstname %>.</h1>
    <p>
      Your account has been deleted by the Administrator.<br>
    </p>
    <p>
      Now please leave us alone.
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>