<%= link_to "Back to all movies", movies_path %><br>

<h1>Users</h1>

<%= paginate @users %> 

<% @users.each do |user| %>
  <h3><%= link_to user.lastname, admin_user_path(user) %>, <%= user.firstname %></h3>
<% end %>

